body {
    font-family: Arial, sans-serif;
    background: #80f580;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    background: white;
    padding: 30px;
    border-radius: 15px;

    text-align: center;
    min-width: 300px;
}
input[type="number"], select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #1bd43a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
input[type="submit"]:hover {
    background-color: #2ead23;
}
p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
h2 {
    color: #444;
    margin-bottom: 20px;
}